<?xml version="1.0"?>
<AutoCompleteSection>
  <Settings>
    <add Key="BookDataSetting1" ControllerName = "Combobox" Method = "GetListOfValues"
      ValueField="Id"  DisplayFields = "Code|Name|CountryInfo.Name"  DisplayName = "Code| Name |CName" Width="200px"
        ColumnWidths="20%|40%" TextField="Name" DropDownWidth="400px" />

    <add Key="CustomBinding" ControllerName = "Combobox" Method = "GetListOfAllValues"
      ValueField="Id"  DisplayFields = "Code|Name|CountryInfo.Name"  DisplayName = "Code| Name |Country Name" Width="200px"
        ColumnWidths="10%|45%|45%" TextField="Name" DropDownWidth="500px" Custom="true" />
  </Settings>
</AutoCompleteSection>