<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grid</title>    
     @Styles.Render("~/Content/css/default/bootstrap", "~/Content/kendo/styles", "~/Content/css/custom/styles")
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/kendo.all.min.js"></script>
    <script src="~/Scripts/kendo.aspnetmvc.min.js"></script>
    <script src="~/Scripts/mschelper.lib.js?v=913q342"></script>
</head>
<body>
    <div class="container body-content">
        @RenderBody()
        <hr />
    </div>        
</body>
</html>